/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.12,
* Autoprefixer: v10.4.4
* Browsers: last 4 version
*/

/* Activities Page Styles */
#accomodation-header-background {
    background-image: url("../images/accomodation_header.jpeg");
}
#accomodation-features {
    margin-bottom: 24px;
}
#accomodation-features img {
    margin: 8px auto;
    width: 66%;
    display: block;
}
#two-col-list {
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
    -webkit-column-rule-width: 1px;
       -moz-column-rule-width: 1px;
            column-rule-width: 1px;
    -webkit-column-rule-color: none;
       -moz-column-rule-color: none;
            column-rule-color: none;
    -webkit-column-width: 50%;
       -moz-column-width: 50%;
            column-width: 50%;
}
#accomodation-features ul {
    padding: 0;
    margin: 0;
    -webkit-column-span: 2;
       -moz-column-span: 2;
            column-span: 2;
}
#accomodation-features ul li {
    list-style: none;
    letter-spacing: 1px;
    font-size: 1.1rem;
    padding: 4px 0;
}
#accomodation-features ul li::before {
    content: '';
    display: inline-block;
    height: 18px;
    width: 20px;
    margin-right: 8px;
    background-image: url("../images/reef_bullet.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.acco-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.acco-flex-group:nth-child(even) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-flow: row-reverse;
            flex-flow: row-reverse;   
}
.acco-flex-group {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 16px 0;
}
.acco-flex-group div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.acco-flex-group img {
    width: 60%;
    height: auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 8px 16px;
    -webkit-box-shadow: 1px 1px 16px 0px rgba(0,0,0,0.3); 
    box-shadow: 1px 1px 16px 0px rgba(0,0,0,0.3);
}
.acco-flex-group p {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0 8px;
    margin: 8px;
}
.sleeps {
    font-family: granville, Times, serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.0rem;
    color: #0B8699;
    padding: 8px;
    border-radius: 8px;
    background-color: #c6ecf2;;
    margin: 12px 0 12px 12px;

}
.price {
    font-family: granville, Times, serif;
    font-weight: 300;
    font-style: normal;
    color: #0B8699;
    font-size: 1.6rem;
    padding-left: 12px;
}
/* Accomodation Media Queries */
@media screen and (max-width: 720px) {
    .acco-flex-group {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        padding: 8px 0 0 0;
    }
    .acco-flex-group img {
        width: 100%;
        height: auto;
        margin: 8px 0px;
        padding: 0;
    }
    .acco-flex-group p {
        padding: 8px 0;
        margin: 8px 0;
    }
    .acco-flex-group:nth-child(even) {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-flow: column;
                flex-flow: column;   
    }
    .sleeps {
        padding: 8px;
        margin: 12px 0;
    }
    .price {
        padding-left: 0px;
        margin-top: 8px;
    }
}
@media screen and (max-width: 620px) {
    #two-col-list {
        -webkit-column-count: 1;
           -moz-column-count: 1;
                column-count: 1;
        -webkit-column-rule-width: none;
           -moz-column-rule-width: none;
                column-rule-width: none;
        -webkit-column-rule-color: none;
           -moz-column-rule-color: none;
                column-rule-color: none;
        -webkit-column-width: 100%;
           -moz-column-width: 100%;
                column-width: 100%;
    }
    #accomodation-features ul {
        padding: 0;
        margin: 0;
        -webkit-column-span: 1;
           -moz-column-span: 1;
                column-span: 1;
    }
    
}