/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.12,
* Autoprefixer: v10.4.4
* Browsers: last 4 version
*/
/* Contact Page Styles */

/* Change header background image */
#contact-header-background {
    background-image: url("../images/contact_header.jpeg");
}
.call-us {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0;
}
#call-us-h2 {
    -webkit-margin-before: 8px;
            margin-block-start: 8px;
    -webkit-margin-after: 8px;
            margin-block-end: 8px;
}
.call-us div {
    width: 50%;
}
.call-us div img {
    width: 50%;
    float: left;
    vertical-align: middle;
    height: 1.2rem;
    width: auto;
    margin-right: 8px;
}
.call-us div a {
    color: #484848;
    font-size: 1.1rem;
    letter-spacing: 2px;
}
/* Getting here section */
#getting-here {
    background-color: #cce6ef;
    position: relative;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 16px 16px 24px 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 24px;
}
#getting-here-info p {
    color: #111;
}
#getting-here svg {
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    width: 50%;
    height: auto;
    margin: auto;
}
#getting-here-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0 8px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 50%;
}
#getting-here-info img {
    width: 100%;
    height: auto;
}
/* .cls-2 controls a circle in the inline SVG image */
.cls-2 {
    opacity: 0.36;
    stroke:#088073;
    stroke-miterlimit: 10;
    stroke-width: 24px;
    -webkit-animation: map-pulse;
            animation: map-pulse;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-duration: 2.2s;
            animation-duration: 2.2s;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    fill: none;
    -webkit-transform-origin: 884.5px 255.5px;
        -ms-transform-origin: 884.5px 255.5px;
            transform-origin: 884.5px 255.5px;
}
/* Map pulsing animation */
@-webkit-keyframes map-pulse {
    0% {
        opacity: 0.36;
        -webkit-transform: scale(1.0);
                transform: scale(1.0);
    }
    100% {
        opacity: 0.0;
        -webkit-transform: scale(1.8);
                transform: scale(1.8);
    }
}
@keyframes map-pulse {
    0% {
        opacity: 0.36;
        -webkit-transform: scale(1.0);
                transform: scale(1.0);
    }
    100% {
        opacity: 0.0;
        -webkit-transform: scale(1.8);
                transform: scale(1.8);
    }
}
/* Contact form styles */
#form-container {
    width: 100%;
    margin: 0 0 24px 0;
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 24px;
}
.stage-counter {
    background-color: #0E6E66;
    border-radius: 50%;
    margin: 16px auto 4px auto;
    height: 48px;
    width: 48px;
    text-align: center;
    color: #fff;
    font-family: granville, Times, serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.3rem;
    line-height: 48px;
}
#form-container form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    text-align: center;
}
#form-container label { 
    font-family: granville, Times, serif;
    font-weight: 600;
    font-style: normal;
    color: #0B8699;
    padding: 4px 0;
    font-size: 1.2rem;
    text-align: left;
    margin-bottom: 4px;
    text-align: left;
}
#form-container h3 {
    color: #0E6E66;
    font-size: 1.3rem;
    margin: 0 0 8px 0;
    padding: 16px 0;
}
#form-container input {
    width: calc(100% - 16px);
    background-color: #F8F8F8;
    padding: 8px;
    margin-bottom: 16px;
    font-family: forma-djr-display, Arial, sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    color: #333;
    font-size: 1.3rem;
    border: 1px solid #0B8699;
}
#form-container input:focus {
    background-color: #FFF;
    width: calc(100% - 16px);
    padding: 8px;
    margin-bottom: 16px;
    font-family: forma-djr-display, Arial, sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    color: #333;
    font-size: 1.3rem;
    border: 1px solid #0E6E66;
}
#form-container select {
    background-color: #F8F8F8;
    padding: 8px;
    margin-bottom: 16px;
    font-family: forma-djr-display, Arial, sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    color: #333;
    font-size: 1.3rem;
    border: 1px solid #0B8699;
}
#form-container select:focus {
    background-color: #FFF;
    padding: 8px;
    margin-bottom: 16px;
    font-family: forma-djr-display, Arial, sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    color: #333;
    font-size: 1.3rem;
    border: 1px solid #0E6E66;
}
#form-description {
    width: 92%;
    display: block;
    margin: auto;
    padding-bottom: 24px;
    padding: 4px;
}
#contact_message {
    font-family: forma-djr-display, Arial, sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    color: #333;
    font-size: 1.3rem;
    border: 1px solid #0B8699;
    padding: 16px;
}
#contact_submit {
    max-width: 200px !important;
    margin: auto;
    padding: 16px !important;
    background-color: #25615B !important;
    color: #fff !important;
    font-family: granville, Times, serif !important;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    cursor: pointer;
}
#contact_submit:hover {
    background-color: #2C4039 !important;
    color: #fff !important;
}
/* Contact Media Queries */ 
@media screen and (max-width:720px) {
    #getting-here {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        padding: 16px;
    }
    #getting-here-info {
        width: 100%;
    }
    #getting-here svg {
        width: 100%;
    }   
}