/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.12,
* Autoprefixer: v10.4.4
* Browsers: last 4 version
*/

/* Cuisine Specifc styles */
#cuisine-header-background {
    background-image: url("../images/cuisine_header.jpeg");
}
.cuisine-card-cont {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: calc(50% - 20px) 24px calc(50% - 20px);
    grid-template-columns: calc(50% - 20px) calc(50% - 20px);
    -webkit-column-gap: 24px;
       -moz-column-gap: 24px;
            column-gap: 24px;
    row-gap: 8px;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    grid-auto-rows: auto;
    margin-bottom: 16px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.cuisine-card-cont > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}
.cuisine-card-cont > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
}
.cuisine-card-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 8px;
    -webkit-box-shadow: 1px 1px 16px 0px rgba(0,0,0,0.3); 
    box-shadow: 1px 1px 16px 0px rgba(0,0,0,0.3);
    background-color: #fff;
}
.cuisine-card-image-cont {
    width: 100%;
    position: relative;
    height: 240px;
    overflow: hidden;
}
.cuisine-card-image-cont img {
    position: absolute;
    width: 100%;
    height: auto;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}
.cuisine-card-info {
    background-color: #fff;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 24px 24px 24px 24px;
}
.cuisine-card-info h3 {
    padding: 0 0 8px 0;
    margin: 0;
}
.cuisine-card-info p {
    margin: 0;
    padding: 8px 0 0 0;
}
/* Cuisine Page Media Queries */
@media screen and (max-width: 806px) {
    .cuisine-card-image-cont img {
        height: 100%;
        width: auto;
    }
}
@media screen and (max-width: 624px) {
    .cuisine-card-image-cont img {
        width: 120%;
        height: auto;
    }
    .cuisine-card-cont {
        -ms-grid-columns: calc(100% - 16px);
        grid-template-columns: calc(100% - 16px);
        -webkit-column-gap: 0;
           -moz-column-gap: 0;
                column-gap: 0;
    }
}