/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.12,
* Autoprefixer: v10.4.4
* Browsers: last 4 version
*/

html {
    height: 100%;
}
body {
    height: 100%;
    background-color: #F5F5F5;
    position: relative;
    margin: 0;
    padding: 0;
}
h1 {
    font-family: granville, Times, serif;
    font-weight: 600;
    font-style: normal;
    color: #2C4039;
    text-align: center;
    font-size: 2.0rem;
}
h2 {
    font-family: granville, Times, serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.6rem;
    color: #0E6E66;
    text-align: center;
}
h3 {
    font-family: granville, Times, serif;
    font-weight: 600;
    font-style: normal;
    color: #0B8699;
}
h4 {
    font-family: granville, Times, serif;
    font-weight: 400;
    font-style: normal;
    color: #0B8699;
    padding: 4px 0;
    font-size: 1.2rem;
}
p {
    font-family: forma-djr-display, Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.0rem;
    color: #484848;
    letter-spacing: 1px;
}
p a {
    text-decoration: underline;
}
p a:hover {
    text-decoration: underline;
    color: #2C4039;
}
p a:visited {
    color: #484848;
}
header {
    text-align: center;
}
header img {
    width: 75%;
    max-width: 300px;
    height: auto;
    margin: auto;
}
main {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 90%;
    max-width: 440px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
#tick {
    -webkit-animation: tick-animate;
            animation: tick-animate;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
}
@-webkit-keyframes tick-animate {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
                transform: scale(0);
    }
    100% {
        opacity: 1.0;
        -webkit-transform: scale(1.0);
                transform: scale(1.0);
    }
    
}
@keyframes tick-animate {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
                transform: scale(0);
    }
    100% {
        opacity: 1.0;
        -webkit-transform: scale(1.0);
                transform: scale(1.0);
    }
    
}