/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.12,
* Autoprefixer: v10.4.4
* Browsers: last 4 version
*/

/* index.html Specific Styles */
#home-page-spacer {
    width: 100%;
    min-height: 96px;
    background: #fff;
}
#video-hero {
    display: -ms-grid;
    display: grid;
    width: 100%;
    grid-auto-columns: 1fr;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    min-height: 480px;
}
#video-container {
    overflow: hidden;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    max-width: 100vw;
    max-height: 480px;
    -webkit-filter: brightness(70%);
            filter: brightness(70%);
    display: -ms-grid;
    display: grid;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / span 1;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / span 1;
    z-index: 1;
    position: relative;
}
#video-container video {
    width: 100%;
    height: auto;
}
#hero-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    max-width: 464px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 16px;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / span 1;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / span 1;
    z-index: 3;
}
#hero-flex img {
    height: 64px;
    width: auto;
    margin-bottom: 16px;
}
#hero-flex h1 {
    color: #fff;
    margin: 0 0 8px 0;
    text-shadow: 1px 1px 8px rgba(0,0,0,0.45);
}
#hero-flex h3 {
    color: #fff;
    font-weight: 300;
    text-align: center;
    margin: 0 16px 0 16px;
    text-shadow: 1px 1px 8px rgba(0,0,0,0.45);
}
#hp-book-now {
    width: 180px;
    background-color: #2C4039;
    border: 1px solid #fff;
    text-align: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: granville, Times, serif;
    font-weight: 600;
    font-size: 1.1rem;
    padding: 8px;
    margin: 24px auto 0 auto;
    display: none;
}
#hp-book-now a {
    color: #fff;
    text-decoration: none;
}
#hp-book-now a:hover {
    color: #fff;
    text-decoration: none;
}
#hp-book-now a:visited {
    color: #fff;
    text-decoration: none;
}
#hp-explore {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 24px 24px;
    background-color: #0E6E66;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
#hp-explore h2 {
    color: #fff;
    text-align: center;
}
#hp-explore p {
    color: #fff;
    max-width: 768px;
    width: 80%;
}
#hp-gallery-container {
    background-color: #0E6E66;
    width: 100%;
    padding: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box
}
#hp-gallery {
    width: 100%;
    max-width: 640px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow-x: scroll;
    -ms-scroll-snap-type: x mandatory;
        scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: none !important;
    position: relative;
}
#hp-gallery::-webkit-scrollbar {
    display: none !important;
}
#gallery-navigation {
    margin-top: 16px;
}
#gallery-navigation a img {
    width: 52px;
    height: 36px;
    padding: 0 6px;
}
.hp-gallery-item {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    height: 384px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    scroll-snap-align: start;
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    -o-transition: transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
    width: 100%;
    overflow: hidden;
}
.hp-gallery-item img {
    width: 100%;
    height: auto;
}
#hp-quad-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.quad-item {
    width: 50%;
    height: 296px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-bottom: 32px;
    position: relative;
}
.quad-gradient {
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(0,0,0,0.85)), to(rgba(255,255,255,0)));
    background: -o-linear-gradient(bottom, rgba(0,0,0,0.85) 0%, rgba(255,255,255,0) 100%);
    background: linear-gradient(0deg, rgba(0,0,0,0.85) 0%, rgba(255,255,255,0) 100%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
.quad-button {
    border: 1px solid #fff;  
    width: 184px;
    height: 40px;
    z-index: 3;
}
.quad-button:hover {
    background-color: #0E6E66;
}
.quad-button a {
    color: #fff;
    text-decoration: none;
}
.quad-button a:hover {
    color: #fff;
    text-decoration: none;
}
.quad-link-cont {
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 8px 6px 8px 6px;
    text-align: center;
    font-family: granville, Times, serif;
    font-weight: 600;
    font-size: 1.1rem;
    font-style: normal;
}
#quad-accomodation {
    background-image: url("../images/accomodation_overwater.jpeg");
}
#quad-cuisine{
    background-image: url("../images/lobster.jpeg");
}
#quad-activities {
    background-image: url("../images/scuba_turtle.jpeg");
}
#quad-contact {
    background-image: url("../images/contact-hp.jpeg");
}
/* Home Page Media Queries */
@media screen and (max-width: 768px) {
    #home-page-spacer {
        width: 100%;
        min-height: 48px;
    } 
    #video-container video {
        position: absolute;
        top: 0;
        left: -40%;
        width: 180%;
        -webkit-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
                transform: rotate(90deg);
    } 
    #hero-flex h1 {
        font-size: 1.6rem;
    }
    #hero-flex h3 {
        font-size: 1.0rem;
    }
    #hp-book-now {
        display: block;
    }
}
@media screen and (max-width: 560px) {
    .quad-item {
        width: 100%;
    }
}