/* Element and heading styles */
body {
    padding: 0;
    margin: 0;
    background-color: #F5F5F5;
    font-family: forma-djr-display, Arial, sans-serif;
    font-weight: 400;
}
h1 {
    font-family: granville, Times, serif;
    font-weight: 600;
    font-style: normal;
    color: #2C4039;
    text-align: center;
    font-size: 2.0rem;
}
h2 {
    font-family: granville, Times, serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.8rem;
    color: #0E6E66;
}
h3 {
    font-family: granville, Times, serif;
    font-weight: 600;
    font-style: normal;
    color: #0B8699;
}
h4 {
    font-family: granville, Times, serif;
    font-weight: 400;
    font-style: normal;
}
p {
    font-family: forma-djr-display, Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.1rem;
    color: #484848;
    letter-spacing: 1px;
}
/* Navigation Styles - Site Wide */ 
#logo-bar {
    position: fixed;
    z-index: 40;
    width: 100%;
    background-color: #2C4039;
    min-height: 40px;
}
#logo-bar-container {
    width: 100%;
    max-width: 960px;
    margin: auto;
    box-sizing: border-box;
    padding: 16px 16px 4px 16px;
    height: 72px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;  
}
#site-logo {
    height: 100%;
}
#burger-icon-container {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 16px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
#burger-icon-container {
    cursor: pointer;
}
#burger-top {
    width: 40px;
    height: 1px;
    background-color: #fff;
    transition: 0.2s ease-in-out;
    margin-top: 10px;
}
#burger-middle {
    width: 25px;
    height: 1px;
    background-color: #fff;
    margin-top: 9px;
    transition: 0.3s ease-out;

}
#burger-bottom {
    width: 40px;
    height: 1px;
    background-color: #fff;
    transition: 0.2s ease-in-out;
    margin-top: 9px;
}
#nav-logo-link {
    height: 100%;
}
/* Desktop Navigation Styles */
#navigation-container {
    height: 48px;
    width: 100%;
    background-color: #2C4039;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 8px;
    box-sizing: border-box;
}
#primary-navigation li {
    font-family: granville, Times, serif;
    list-style-type: none;
    display: inline;
    padding: 4px 12px;
    font-size: 16px;
}
#primary-navigation  li:last-of-type {
    background-color: #25615B;
    border: solid 1px #fff;
}
#primary-navigation  li:last-of-type:hover {
    background-color: #ffffff;
    border: solid 1px #fff;
    color: #25615B;
}
#primary-navigation  li:last-of-type a:hover {
    color: #25615B;
    text-decoration: none;
}
#primary-navigation li a {
    color: #fff;
    text-decoration: none;
}
#primary-navigation  li a:hover {
    color: #fff;
    text-decoration: underline;
}
/* Mobile Navigation Styles */
#mobile-navigation-container {
    width: 100%;
    height: 100vh;
    background-color: #25615B;
    z-index: 15;
    box-sizing: border-box;
    padding: 16px 0 0 0;
    text-align: center;
    position: fixed;
    bottom: 100%;
    transform: translateY(-100%);
    transition: 0.7s ease-in-out;
}
#mobile-navigation-container ul {
    padding: 0 16px;
    margin: 88px auto 0 auto;
    width: 100%;
    box-sizing: border-box;
}
#mobile-navigation-container li {
    font-family: granville, Times, serif;
    list-style-type: none;
    padding: 10px 0;
    font-size: 1.4rem;
}
#mobile-navigation-container li:first-of-type {
    padding-left: 3px;
}
#mobile-navigation-container li a {
    color: #fff;
    text-decoration: none;
}
#mobile-navigation-container li a:hover {
    color: #fff;
    text-decoration: underline;
}
#mobile-navigation-container li:last-of-type {
    background-color:  #2C4039;
    border: solid 1px #fff;
    margin-top: 16px;
}
#mobile-navigation-container li:last-of-type:hover {
    background-color:  #ffffff;
}
#mobile-navigation-container li:last-of-type:hover a {
    color: #25615B;
    text-decoration: none;
}
/* Navigation Media Queries */
@media screen and (min-width: 768px) {
#burger-icon-container {
    display: none;
}
}
@media screen and (max-width: 768px) {
#navigation-container {
    display: none;
}
#logo-bar {
     padding-bottom: 8px;
}   
}
/* Header Styles - Site Wide Except for Home Page */
header {
    width: 100%;
}
.header-background-image {
    background-position: center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    height: 320px;
    display: flex;
}
#header-background-oval-grey {
    position: relative;
    width: 100%;
    height: 25%;
    background-image: url("../images/grey_oval_fill_updated.svg");
    background-size: 125% auto;
    background-position: top;
    align-self: flex-end;
    background-repeat: no-repeat;
}
.shift {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: -12px;
    left: 0;
}
#secondary-navigation {
    text-align: center;
    margin-right: 32px;
    box-sizing: border-box;
}
#secondary-navigation li {
    list-style-type: none;
    font-family: granville, Times, serif;
    font-weight: 400;
    font-size: 1.2rem;
    padding: 0 12px;
    display: inline;
}
#secondary-navigation li a {
    color: #25615B;
    text-decoration: none;
}
#secondary-navigation li a:hover {
    text-decoration: underline;
}
/* Header Media Queries */
@media screen and (max-width: 768px) {
    .header-background-image{
        height: 240px;
}
}
/* Multi Page Section Styles*/
main {
    max-width: 960px;
    margin: auto;
    box-sizing: border-box;
    padding: 8px;
}
/*Footer styles*/
footer {
    width: 100%;
    background-color: #25615B;
}
#footer-container {
    width: 100%;
    max-width: 960px;
    min-height: 96px;
    margin: auto;
    box-sizing: border-box;
    padding: 24px 16px 16px 16px;
    display: flex;
    flex-direction: column;
    color: #fff;
}
#copyright {
    color: #fff;
    font-size: 11px;
    margin-top: 16px;
}
#footer-two-column {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
#footer-newsletter-cont {
    width: calc(100% - 160px);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
#footer-social-icons {
    display: flex;
    flex-direction: row;
    margin-top: 16px;
}
#footer-social-icons img {
    height: 32px;
    width: auto;
}
#footer-social-icons > :first-child > :first-child {
    margin-right: 16px;
}
#footer-social-icons > :nth-child(2) > :first-child {
    margin-right: 10px;
}
#footer-heading {
    color: #fff;
    font-family: granville, Times, serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1.4rem;
}
#footer-newsletter-cont form {
    padding-bottom: 8px;
    margin: 0;
}
#email-addresss-footer {
    padding: 10px;
    background-color: #25615B;
    border: solid 1px #fff;
    color: #fff;
    font-family: granville, Times, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    margin-right: 8px;
    min-width: 250px;
}
#email-addresss-footer:focus {
    background-color: #2C4039;
}
#footer-submit {
    padding: 10px;
    background-color: #25615B;
    border: solid 1px #fff;
    color: #fff;
    font-family: granville, Times, serif;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
}
#footer-submit:hover {
    background-color: #fff;
    color: #2C4039;
    cursor: pointer;
}
#footer-logo {
    width: 160px;
    box-sizing: border-box;
    padding: 0 0 8px 8px;
    text-align: right;
}
#footer-logo img {
    width: 100%;
    height: auto;
}
@media screen and (max-width: 608px) {
    #footer-two-column {
        flex-direction: column;
        flex-wrap: wrap;
    }
    #footer-newsletter-cont {
        width: 100%;
    }
    #email-addresss-footer {
       min-width: 100px;
       width: calc(100vw - 180px);
    }
    #footer-social-icons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        margin-bottom: 24px;
    }
    #footer-logo {
        width: 100%;
    }
    #footer-logo img {
        height: 80px;
    }
}
/* Activities Page Stages */
#activities-header-background {
    background-image: url("../images/scuba_turtle.jpeg");
}